@use 'variables';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$font-primary;
}

body {
  background-color: variables.$color-background;
}

li {
  list-style: none;
}

.container {
  max-width: variables.$container-max;
  width: 100%;
  margin: 0 auto;
}

/* Header */
header {
  background-color: variables.$color-header;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}

.menu {
  display: flex;

  li {
    font-weight: bold;
    margin-left: 24px;

    a {
      color: variables.$color-white;
      text-decoration: none;
    }
  }
}

section {
  padding: 56px 0;
}

/* Products */
.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
}

.product-item {
  img {
    width: 100%;
    border-radius: 16px;
  }
}

.product-button {
  display: block;
  background-color: variables.$color-button;
  color: variables.$color-white;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: variables.$color-button-hover;
  }
}
